<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}
{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <!--<h1>{{site.title}}</h1>-->
    {{content}}
    <p>Hello! My name is Sam Weisenthal. I am studying statistics and medicine at the University of Rochester.</p>
    <p>My research focus is on the probabilistic/statistical foundations of medical decision making.</p> 
    <p>Recent papers include
      <ul>
  <li><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/sim.9755">Relative sparsity for medical decision problems</a></li>
  <li><a href="https://pubmed.ncbi.nlm.nih.gov/30458044/">Predicting AKI with EHR Data</a></li>
  <li><a href="https://pubmed.ncbi.nlm.nih.gov/26644157/">Radiation Exposure extraction engine</a></li>
</ul>
    </p>
    <p>Works in progress include
      <ul>
  <li><a href="https://arxiv.org/pdf/2306.14297.pdf">Inference for relative sparsity</a></li>
  <li>Optimality-based reward learning</li>
  <li><a href="https://github.com/samuelweisenthal/BinaxNOWpostTestProb/blob/main/covid.post.test.pdf">Post-test probability of covid-19</a></li>
       <li>My journey from data science to statistics in an academic medical center (essay)</li> 
  <li><a href="https://arxiv.org/pdf/2108.12045.pdf">On inverse gamma priors</li>
      </ul>
    <p>A full list of my publications can be found <a href="https://scholar.google.com/citations?hl=en&user=bbcNyWwAAAAJ&view_op=list_works&sortby=pubdate">here.</a></p>
    <!--
    <p>Online discussions include
      <ul>
  <li><a href="https://stats.stackexchange.com/questions/263393/scikit-correct-way-to-calibrate-classifiers-with-calibratedclassifiercv/288470#288470">On calibration in sklearn</a>, <a href="https://stats.stackexchange.com/questions/390487/why-is-logistic-regression-well-calibrated-and-how-to-ruin-its-calibration">On how calibration can fail</a> </li>
  <li><a href="https://discourse.datamethods.org/t/what-should-mds-in-training-know-about-medical-prediction/335">On teaching prediction</a></li>
   <li><a href="https://stats.stackexchange.com/questions/295383/why-is-data-augmentation-classified-as-a-type-of-regularization/295394#295394">On data augmentation as regularization</a></li>     
      </ul>
    </p>
    -->

    
    
  </article>
</div><!-- /#main -->

{% include _scripts.html %}

</body>
</html>
