<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"><!--<![endif]-->

<head>
  {% include _head.html %}
</head>

<body class="home">

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <!--<h1>{{site.title}}</h1>-->
    {{content}}
    <hr>

    <!--
          <center>
          <iframe src="https://openprocessing.org/sketch/2054910/embed/?plusEmbedHash=b9e5cd59&userID=318845&plusEmbedTitle=false#sketch" style="width:80%; height:50px;"></iframe>
        </center>
    -->
        
    <p>Hi, I'm Sam! Welcome to my page.  I work at the intersection of statistics and medicine (and I am trying to integrate a more humanities-focused perspective therein).  Feel free to check out my <a href="https://samweisenthal.com">blog</a>, <a href="https://samweisenthal.substack.com/">substack</a>, or <a href="https://scholar.google.com/citations?hl=en&user=bbcNyWwAAAAJ&view_op=list_works&sortby=pubdate">publications</a>! I also list some work below (generally moved away from publishing and towards bloggin'---faster, fairer, more available to the public, and open for comments!).</p>
    
    <p>Medical decision making / decision theory / reinforcement learning</p>
    <ul>
      <li>Language models and medical decision making 
  <a href="https://statmedhumanity.org/2025/07/03/treatment-evidence-imitation-and-chat/">(blog post)</a>, 
  <a href="https://arxiv.org/pdf/2506.23040v1">(manuscript)</a>, 
  <a href="https://open.substack.com/pub/samweisenthal/p/treatment-evidence-imitation-and?r=1cxbe4&utm_campaign=post&utm_medium=web&showWelcomeOnShare=true">(substack)</a>
      </li>
    <li>Decision analysis and big pharma
        <a href="https://statmedhumanity.org/2025/03/16/decision-analysis-and-the-pharmaceutical-industry/">(essay)</a>
      </li>
      <!---
          <li>Decision analysis and insurance
        <a href="https://statmedhumanity.org/2025/01/27/decision-analysis-and-malpractice/">(essay)</a>
      </li>
      --->    
      <li>Reflections on relative sparsity
        <a href="https://statmedhumanity.org/2025/04/04/reflections-on-relative-sparsity/">(essay)</a>
      </li>
       <li>Decision analysis and malpractice
  <a href="https://samweisenthal.com/2025/01/27/decision-analysis-and-malpractice/">(essay)</a>
</li>
<li>The kindness of decision analysis 
  <a href="https://samweisenthal.com/2024/12/14/the-kindness-of-decision-analysis/">(essay)</a>
</li>
<li>Decision analysis and the real world 
  <a href="https://samweisenthal.com/2024/12/08/decision-analysis-and-the-real-world/">(essay)</a>
</li> 
<li>The roles assigned by decision analysis 
  <a href="https://samweisenthal.com/2024/08/17/99/">(essay)</a>
</li>  
<li>How to use probability to describe medical decisions 
  <a href="https://wordpress.com/post/samweisenthal.com/120">(essay)</a>
</li>
<li>Inference for relative sparsity 
  <a href="https://arxiv.org/pdf/2306.14297.pdf">(preprint)</a>
</li>
<li>Relative sparsity for medical decision problems 
  <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/sim.9755">(paper)</a>, 
  <a href="https://youtu.be/572X1PhHJUs">(video)</a>
</li>
    </ul>
    <p>Environmental health / inverse reinforcement learning</p>
    <ul>
      <li>Optimality-based reward learning with applications to toxicology 
        <a href="https://arxiv.org/pdf/2404.04406.pdf">(preprint)</a>
      </li>
    </ul>

    <p>Prediction</p>
    <ul>
      <li>Predicting AKI with EHR data 
        <a href="https://pubmed.ncbi.nlm.nih.gov/30458044/">(paper)</a>
      </li>
      <li>On calibration 
        <a href="https://stats.stackexchange.com/questions/263393/scikit-correct-way-to-calibrate-classifiers-with-calibratedclassifiercv/288470#288470">(forum)</a>
      </li>
    </ul>

    <p>Radiation dose monitoring / quality control / outlier detection</p>
    <ul>
      <li>Radiation Exposure Extraction Engine 
        <a href="https://pubmed.ncbi.nlm.nih.gov/26644157/">(paper)</a>
      </li>
    </ul>

    <p>Diagnosis</p>
    <ul>
<li> The information mismatch
  <a href="https://arxiv.org/pdf/2503.15382">(preprint)</a>
</li>
      <li>ChatGPT and post-test probability 
        <a href="https://arxiv.org/pdf/2311.12188.pdf">(preprint)</a>
      </li>
      <li>On the post-test probability of covid-19 
        <a href="https://samuelweisenthal.shinyapps.io/posttestprobabilitycovid/">(app)</a>,
        <a href="https://discourse.datamethods.org/t/determining-post-test-probability-of-covid-19/4723/38">(forum discussion)</a>
      </li>
    </ul>
    
    <p>Culture</p>
    <ul>
      <li>Chat, images, and "AI"
        <a href="https://statmedhumanity.org/2025/09/28/image-processing-chatting-and-ai/">(essay)</a>
      </li>  
      <li>Bayesian and frequentist statistics <a href="https://statmedhumanity.org/2025/03/09/am-i-cool/">(PowerPoint)</a></li>
      <li>Data science to statistics in an academic medical center 
        <a href="https://samweisenthal.com/2024/06/09/lessons-learned-during-a-journey-from-data-science-to-statistics-during-my-medical-training/">(essay)</a>
      </li>  
      <li>Statistics and machine learning 
        <a href="https://stats.stackexchange.com/questions/336442/predictive-models-statistics-cant-possibly-beat-machine-learning/336445#336445">(forum)</a>
      </li>
      <li>Kaggle and chance 
        <a href="https://stats.stackexchange.com/questions/292415/are-kaggle-competitions-just-won-by-chance">(forum)</a>
      </li>
      </ul>



<p>Addiction</p>
    <ul>
      <li>Get off your phone!
        <a href="https://samweisenthal.com/2024/12/15/addictive-substances-and-recommender-systems/">(essay)</a>
      </li>
      <li>How to get off your phone
        <a href="https://samweisenthal.com/2025/01/04/what-can-we-do-about-addictive-platforms/">(essay)</a>
      </li>
          <li>Scroll breaker
        <a href="https://statmedhumanity.org/2025/05/09/scroll-breaker-braker/">(essay)</a>
      </li>

      
    </ul>   
        <p>Teaching</p>
    <ul>
      <li>On prediction 
        <a href="https://discourse.datamethods.org/t/what-should-mds-in-training-know-about-medical-prediction/335">(forum)</a>
      </li>
      <li>Risk calculators 
        <a href="https://docs.google.com/presentation/d/1xbUmjJ5iFcl16fFCQeqJVOVObIK8NKm0FgxPjGTnnQ8/edit#slide=id.p">(lecture)</a>
      </li>
    </ul>
   
<!--
    <p>Political</p>
    <ul>
      <li>Re conflict in the Middle East 
        <a href="https://samweisenthal.com/2024/11/10/welcome/">(essay)</a>
      </li>
    </ul>
    -->
    
  </article>
</div><!-- /#main -->

{% include _scripts.html %}

</body>
</html>
